<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>HelloServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.test.helloservlet.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/HelloServlet/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetServlet</servlet-name>
    <servlet-class>com.test.helloservlet.GetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServlet</servlet-name>
    <url-pattern>/HelloServlet/GetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReceiveCheckbox</servlet-name>
    <servlet-class>com.test.helloservlet.ReceiveCheckbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveCheckbox</servlet-name>
    <url-pattern>/HelloServlet/ReceiveCheckbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReceiveMultiArgs</servlet-name>
    <servlet-class>com.test.helloservlet.ReceiveMultiArgs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMultiArgs</servlet-name>
    <url-pattern>/HelloServlet/ReceiveMultiArgs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayHeader</servlet-name>
    <servlet-class>com.test.helloservlet.DisplayHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayHeader</servlet-name>
    <url-pattern>/HelloServlet/DisplayHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Refresh</servlet-name>
    <servlet-class>com.test.helloservlet.Refresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refresh</servlet-name>
    <url-pattern>/HelloServlet/Refresh</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ShowError</servlet-name>
    <servlet-class>com.test.helloservlet.ShowError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowError</servlet-name>
    <url-pattern>/HelloServlet/ShowError</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.service.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/HelloServlet/LoginServlet</url-pattern>
  </servlet-mapping>
  
</web-app>